<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><font color="FFFFFF">Ask mate</font></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" action="#" th:action="@{/title_ASC}" method='POST'>By title ASC</a>
                        <a class="dropdown-item" href="#" action="#" th:action="@{/title_DESC}" method='POST'>By title DESC</a>
                    </div>
                </div>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div th:if="${session.user} == null" class="col-sm float-right">
                <form action="/registration" method='GET' class="navbar-form navbar-right">
                    <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">Registration</button>
                </form>
                <form action="#" th:action="@{/login}" th:object="${userToLogin}" method='POST'
                      class="navbar-form navbar-right, form-inline">
                    <input name="username" type="text" placeholder="Username" class="form-control mr-sm-2 float-right"
                           aria-label="Username">
                    <input name="password" type="password" placeholder="Password"
                           class="form-control mr-sm-2 float-right" aria-label="Password">
                    <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">Login</button>
                </form>
            </div>
            <div th:if="${session.user} != null" class="col-sm float-right">
                <form action="#" th:action="@{/logout}" method="get" class="navbar-form navbar-right">
                    <button class="btn btn-outline-success my-2 my-sm-0 float-right">Logout</button>
                </form>
                <form action="#" th:action="@{/new_question}" method="get"
                      class="navbar-form navbar-right, form-inline">
                    <button class="btn btn-outline-success my-2 my-sm-0 float-right">Add new question</button>
                </form>
            </div>
        </div>
    </div>
</nav>

</body>
</html>