<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/style.css" />

</head>
<body>
<div th:replace="header :: header">&nbsp;</div>

<div class="container">
    <div class="row list-group">
        <div class="item col-xs-12">
            <div class="thumbnail" th:object="${actualQuestion}">
                <br>
                <div class="title">
                <h3 th:text="${actualQuestion.questionTitle}">question title</h3>
                </div>
                <br>
<!--
                <h3 th:text="${actualQuestion.questionTitle}">question title</h3>
-->
                <div class="caption">
                    <div class="description">
                        <p th:text="${actualQuestion.questionDescription}">question description</p>
                    <p class="inline" align="right" th:text="${actualQuestion.user.getUsername()}">questioner</p>
                    <p class="inline" align="right">questioner: </p>
                    </div>
                    <div>
                    <p class="inline" align="left" th:text="${actualQuestion.voteNumber}">vote</p>
                    <div th:if="${session.user} != null" class="col-sm float-right">
                        <form action="#" th:action="@{/vote}" method="post" align="left">
                            <button type="submit" class="btn btn-success inline">Vote up</button>
                            <input type="hidden" name="voteType" th:value="up">
                        </form>
                        <form action="#" th:action="@{/vote}" method="post" align="left">
                            <button type="submit" class="btn btn-danger inline">Vote down</button>
                            <input type="hidden" name="voteType" th:value="down">
                        </form>
                        <!--<form action="#" th:action="@{/add_comment}" method="get" align="left">
                            <button type="submit" class="btn btn-primary">Comment</button>
                        </form>-->

                        <form action="#" th:action="@{/add_comment}" th:object="${newComment}" method="post" align="center">
                                <div class="form-group">
                                    <label><b>New comment: </b></label><br>
                                    <textarea rows="5" cols="80" type="text" th:field="*{commentText}" placeholder="Comment" name="comment" required></textarea>
                                </div>
                                <button type="submit" id="add_button">Create</button>
                        </form>
                        </div>
                    </div>
                    <h1>Comments: </h1>
                    <div class="thumbnail" th:each="comment: ${comments}">
<!--
                        <pre th:text="${comment.commentText}">text</pre>
-->
<!--
                        <p th:text="${comment.commentText}">Text</p>
-->
<!--
                        <p th:text="${comment.getUser().getId()}"></p>
-->
                        <pre><span th:text="${comment.commentText}">text</span></pre>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>