<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Registration</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <!--&lt;!&ndash; Latest compiled and minified Jquery &ndash;&gt;
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    &lt;!&ndash; Optional theme &ndash;&gt;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    &lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="static/js/html5shiv.min.js" defer></script>
    <script src="static/js/min.js" defer></script>
    <script src="/static/js/jquery-1.11.3.min.js" defer></script>
    <script src="/static/js/popper.min.js" defer></script>
    <script src="/static/js/bootstrap.min.js" defer></script>
-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var check = function () {
                if (document.getElementById('password').value === document.getElementById('confirm_password').value && document.getElementById('password').value.length >= 4) {
                    document.getElementById('message').style.color = 'grey';
                    document.getElementById('message').innerHTML = 'matching';
                    document.getElementById('register_button').removeAttribute('disabled');
                } else if (document.getElementById('password').value.length < 4) {
                    document.getElementById('message').style.color = 'grey';
                    document.getElementById('message').innerHTML = 'Please, enter at least four characters';
                } else {
                    document.getElementById('message').style.color = 'grey';
                    document.getElementById('message').innerHTML = 'not matching';
                    document.getElementById('register_button').setAttribute('disabled', 'disabled');
                }
            };
            document.getElementById('password').onkeyup = check;
            document.getElementById('confirm_password').onkeyup = check;
        });
    </script>
</head>

<body>
<div th:replace="header :: header">&nbsp;</div>

<div class="container">

    <div class="tm-main-content">
        <section class="tm-margin-b-l">
        </br>
            <p align="center">Please fill in this form to create an account. If you already have an account, please log in.</p>
            <div class="jumbotron" align="center" style="margin-top: 20px; width:100%">
                <form action="#" th:action="@{/registration}" th:object="${newUser}" method="post" align="center">

                    <div class="form-group">
                        <label><b>Name</b></label><br>
                        <input type="text" th:field="*{name}" placeholder="Enter Your Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label><b>Username</b></label><br>
                        <input type="text" th:field="*{username}" placeholder="Enter Username" name="username" required>
                    </div>
                    <label><b>Password</b></label><br>
                    <input type="password" th:field="*{password}" placeholder="Enter Password" id="password"
                           name="password" required><br><br>
                    <label><b>Confirm Password</b></label><br>
                    <input type="password" placeholder="Confirm Password" id="confirm_password" name="confirm_password"
                           required><br>
                    <span id='message'></span><br/>
                    <button type="submit" id="register_button">Register</button>
                </form>
            </div>
        </section>
    </div>
</div>

</body>
</html>